body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 10px auto 0;
}

#game {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px 0;
}

#player1,
#player2 {
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.correct {
  border: 5px solid green;
  transition: border 0.3s ease;
}

.wrong {
  border: 5px solid red;
  transition: border 0.3s ease;
}

#scoreboard {
  text-align: center;
  margin-bottom: 20px;
}

#scoreboard p {
  margin: 5px 0;
}

#game-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#game-selection button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#game-selection button:hover {
  background-color: #0056b3;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color: #007bff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header button {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 5rem;
}

header button:hover {
  background-color: #ff1f3a;
}

main {
  margin-top: 80px;
}

.header_text {
  color: white;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: 80px;
}

.player-image {
  max-width: auto;
  height: auto;
  max-height: 23rem;
  padding: 10px;
}
